.header {
    grid-area: h;
    background-color: #6e6eee;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 5px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}